# version: '3.9'

services:
  app:
    build: .
    container_name: app_service
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code # For code hot-reloading
      - app_data:/data # For persistent data like databases
    working_dir: /code
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped

volumes:
  app_data:
    driver: local
